<form [formGroup]="OrderingServiceForm" (ngSubmit)="orderSubmit()">
  <div class="form-container">
    <div class="title">
      <h1>Formularz zamawiania usługi</h1>
      <mat-icon class="close" (click)="closeModal()">close</mat-icon>
    </div>
    <mat-form-field style="width: 100%; padding-bottom: 50px;">
      <mat-label>Wybierz okres</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" id="dateFrom" formControlName="dateFrom">
        <input matEndDate placeholder="End date" id="dateTo" formControlName="dateTo">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field style="width: 100%" >

      <dialog *ngIf="send" class="dialogOK" open>
        <p>Usługa została zamówiona</p>
        <form method="dialog">
          <button class="buttonOK" (click)="setSend()">OK</button>
        </form>
      </dialog>
      <mat-label>Opis</mat-label>
      <textarea matInput id="description" style="height: 450px" formControlName="description"></textarea>
    </mat-form-field>
    <div class="button-container" style="align-self: center;">
      <button class="button-exit" (click)="closeModal()">Wróć</button>
      <button type="submit" class="button-submit" (click)="setSend()">Wyślij</button>

    </div>
  </div>
</form>
