.header {
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  padding: 10px;
  margin-left: 14px;
}

.expert {
  display: inline-grid;
  grid-template-columns: 10% 10% 80%;
  justify-content: left;
  /*border: 1px solid #7f56d9;*/
  /*border-radius: 10px;*/
  /*padding: 10px;*/
}

.expert-true {
  text-align: center;
  border: 1px solid #7f56d9;
  border-radius: 10px;
  background-color: #7f56d9;
  color: white;
  padding: 7px;
}

.expert-false {
  text-align: center;
  border: 1px solid #7f56d9;
  border-radius: 10px;
  background-color: white;
  color: #7f56d9;
  padding: 7px;
}

.start-list {
  width: 30%;
  font-size: 18px;
}

.end-list {
  width: 70%;
  text-align: left;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.list-item {
  align-items: center;
  border-bottom: lightgray 1px solid;
  padding: 10px;
}

.list-item-end {
  align-items: center;
  padding: 10px;
}

.image {
  border-radius: 10%;
  width: 75px;
  height: 75px;
  margin-top: 10px;
  margin-right: 10px;
}

.input {
  color: #121212;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  align-self: stretch;
  height: 42px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px #d0d5dd solid;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  margin-right: 10px;
}

form {
  width: 100%;
  height: 100%;
  background: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.error_text {
  color: red;
  font-size: 10px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}
.font {
  color: #121212;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}
.button_zaloguj {
  color: #6941c6;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
  border: none;
  background-color: white;
}

.button_zaloguj:hover {
  color: #946fe2;
}

.input {
  color: #121212;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  align-self: stretch;
  height: 42px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px #d0d5dd solid;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.avatar_image_hide:hover {
  opacity: 1;
}

.avatar_image_show {
  width: 92.5px;
  height: 92.5px;
  opacity: 1;
  transition: opacity 0.5s;
}

.avatar_image_hide {
  width: 92.5px;
  height: 92.5px;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.image_content {
  width: 720px;
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  background: #7f56d9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;

@media (max-width: 1185px) {
  display: none;
}
}

