<style>
 .input {
    color: #121212; 
    font-size: 16px; 
    font-family: Inter; 
    font-weight: 400; 
    line-height: 20px; 
    word-wrap: break-word; 
    align-self: stretch; 
    height: 44px; 
    padding-left: 12px; 
    padding-right: 12px; 
    border-radius: 8px;            
    overflow: hidden; 
    border: 1px #D0D5DD solid; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex
  }
.font{
  color: #121212; 
  font-size: 12px; 
  font-family: Inter; 
  font-weight: 400; 
  line-height: 18px; 
  word-wrap: break-word
}
.button_zaloguj{
  color: #6941C6; 
  font-size: 12px; 
  font-family: Inter; 
  font-weight: 400; 
  line-height: 18px; 
  word-wrap: break-word;
  border: none; 
  background-color: white
}
  
.button_zaloguj:hover {
    color: #946fe2; 
}

.button_zarejestruj {
    align-self: stretch; 
    height: 40px; 
    padding-left: 16px; 
    padding-right: 16px; 
    background: #7F56D9; 
    border-radius: 8px; 
    justify-content: center; 
    align-items: center; 
    gap: 16px; 
    display: inline-flex
  }
.button_zarejestruj:hover {
  background: #946fe2; 
}
.avatar_image {
  width: 80px; 
  height: 80px; 
  opacity: 0.50
  }
  .avatar_image:hover{
    opacity: 1;
  }
</style>


<form [formGroup]="registerForm" (ngSubmit)="registerSubmit()" style="width: 100%; height: 100%; position: relative; background: white">
    <div style="width: 375px; height: 50px; padding: 15px; left: 0px; top: 0px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
      <div style="width: 400px; height: 44px; color: #7F56D9; font-size: 24px; font-family: Inter; font-weight: 700; line-height: 32px; word-wrap: break-word">HelpHunter</div>
    </div>
    <div style="height: 692px; padding-left: 32px; padding-right: 32px; left: 0px; top: 79px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
      <div style="height: 692px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
        <div style="align-self: stretch; height: 64px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
          <div style="align-self: stretch; color: #121212; font-size: 24px; font-family: Inter; font-weight: 700; line-height: 32px; word-wrap: break-word">Rejestracja</div>
          <div style="align-self: stretch; color: #667085; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Zarejestruj się i dołącz do naszej społeczności</div>
        </div>
        <div style="align-self: stretch; height: 518px; border-radius: 12px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
          <div style="align-self: stretch; height: 518px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="width: 337px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
              <div style="width: 152px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: inline-flex">
                <div class="font">Imię*</div>
                <input type="text" id="firstName" formControlName="firstName" class="input"
                placeholder="Wpisz imie">
              </div>
              <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: inline-flex">
                <div class="font">Nazwisko*</div>
                <input type="text" id="lastName" formControlName="lastName" class="input" style="width: 170px"
                placeholder="Wpisz nazwisko">
              </div>
            </div>
            <div style="align-self: stretch; height: 68px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
              <div class="font">Adres*</div>
              <input type="text" id="address" formControlName="address" class="input" placeholder="Wpisz swój adres">
            </div>
            <div style="align-self: stretch; height: 68px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
              <div class="font">Telefon*</div>
              <input type="text" id="mobile" formControlName="mobile" class="input" placeholder="Wpisz swój telefon">
            </div>
            <div style="align-self: stretch; height: 68px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
              <div class="font">Email*</div>
              <input type="text" id="email" formControlName="email" class="input" placeholder="Wpisz swój email">
            </div>
            <div style="align-self: stretch; height: 92px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
              <div class="font">Hasło*</div>
              <input type="password" id="pwd" formControlName="pwd" class="input" placeholder="Wpisz swoje hasło">
              <div style="width: 360px; color: #667085; font-size: 10px; font-family: Inter; font-weight: 400; line-height: 18px; word-wrap: break-word">Musi mieć co najmniej 8 znaków</div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
              <div class="font">Avatar</div>
              <div style="width: 335px; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                <img class="avatar_image" [src]="getImageUrls1()" />
                <img class="avatar_image" [src]="getImageUrls2()" />
                <img class="avatar_image" [src]="getImageUrls3()" />
                <img class="avatar_image" [src]="getImageUrls4()" />
              </div>
            </div>
          </div>
        </div>
        <button class="button_zarejestruj" type="submit">
          <div
            style="width: 140px; align-self: stretch; padding-top: 11px; padding-bottom: 11px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
            <div
              style="text-align: center; color: white; font-size: 14px; font-family: Inter; font-weight: 500; text-transform: uppercase; line-height: 36px; letter-spacing: 1.25px; white-space: nowrap;">
              Zarejestruj się</div>
          </div>
        </button>
        <div style="align-self: stretch; justify-content: flex-end; align-items: flex-start; gap: 4px; display: inline-flex">
          <div style="color: #667085; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 18px; word-wrap: break-word">Posiadasz już konto?</div>
          <div style="justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="justify-content: center; align-items: center; gap: 8px; display: flex">
              <button class="button_zaloguj" (click)="navigateToLogin()">Zaloguj się</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 375px; height: 50px; padding: 15px; left: 0px; top: 849px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
      <div style="color: #667085; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 18px; word-wrap: break-word">© HelpHunter 2023</div>
    </div>
</form>