<div class="map-container" *ngIf="accessToken">
    <mgl-map
        [style]="'mapbox://styles/mapbox/streets-v9'"
        [zoom]="[zoom]"
        [center]="[center.x, center.y]"
        (mapCreate)="mapCreated($event)"
        (mapLoad)="mapLoaded($event)"
        [accessToken]="accessToken">
        <ng-container *ngFor="let service of services; let i = index">
            <mgl-layer
                id="circle{{ i }}"
                type="fill"
                [source]="{
                    type: 'geojson',
                    data: createCircle(service.locationCoordinatesX, service.locationCoordinatesY)
                }"
                [paint]="{ 'fill-color': '#627BC1', 'fill-opacity': 0.3 }"></mgl-layer>
            <mgl-marker
                #marker
                [lngLat]="[service.locationCoordinatesX, service.locationCoordinatesY]"
                anchor="center">
                <img
                    src="assets/icons/marker.png"
                    alt="marker"
                    width="27"
                    height="41"
                    (click)="clickOnMarker.emit(service)" />
            </mgl-marker>
            <mgl-popup [closeButton]="false" [marker]="marker" [offset]="{ bottom: [0, -25] }">
                {{ service.serviceName }}
            </mgl-popup>
        </ng-container>
    </mgl-map>
</div>
