<div class="filters">
  <div class="title">
    <h1>Filtry</h1>
    <mat-icon class="close" (click)="closeModal()">close</mat-icon>
  </div>
  <div>
    <div class="section-container">
      <div>
        Obszar obecnej lokalizacji
      </div>
      <div class="choice-container" [formGroup]="size">
        <div>
          <input type="checkbox" style="display: none" value="5" id="5" formControlName="5">
          <label class="choice" for="5">5</label>
        </div>
        <div>
          <input type="checkbox" style="display: none" value="10" id="10" formControlName="10">
          <label class="choice" for="10">10</label>
        </div>
        <div>
          <input type="checkbox" style="display: none" value="10" id="15" formControlName="15">
          <label class="choice" for="15">15</label>
        </div>
        <div>
          <input type="checkbox" style="display: none" value="20" id="20" formControlName="20">
          <label class="choice" for="20">20</label>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div>
        Tryb pracy
      </div>
      <div class="choice-container" [formGroup]="work">
        <div>
          <input type="checkbox" style="display: none" id="office" formControlName="office">
          <label class="choice" for="office">Stacjonarna</label>
        </div>
        <div>
          <input type="checkbox" style="display: none" id="remote" formControlName="remote">
          <label class="choice" for="remote">Dojazdowa</label>
        </div>
      </div>
    </div>
    <div class="categories-container">
      <div class="categories">Kategorie</div>
      <div [formGroup]="builder">
        <div>Budowlanka</div>
        <div class="choice-container">
          <div>
            <input type="checkbox" style="display: none" id="tiles" formControlName="tiles">
            <label class="choice" for="tiles">Budowa domu</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="painting" formControlName="painting">
            <label class="choice" for="painting">Malowanie</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="bath" formControlName="bath">
            <label class="choice" for="bath">Montaż mebli</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="hydraulics" formControlName="hydraulics">
            <label class="choice" for="hydraulics">Naprawa Elektryki</label>
          </div>
        </div>
      </div>
      <div [formGroup]="it">
        <div>IT</div>
        <div class="choice-container">
          <div>
            <input type="checkbox" style="display: none" id="printer" formControlName="printer">
            <label class="choice" for="printer">Programowanie mikrokontrolerów</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="laptop" formControlName="laptop">
            <label class="choice" for="laptop">Inżynieria Oprogramowania</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="phone" formControlName="phone">
            <label class="choice" for="phone">Sztuczna Inteligencja</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="network" formControlName="network">
            <label class="choice" for="network">Bezpieczeństwo sieciowe</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="integration" formControlName="integration">
            <label class="choice" for="integration">Intergracja systemów</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="desktop" formControlName="desktop">
            <label class="choice" for="desktop">Rozwój aplikacji desktopwych</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="mobile" formControlName="mobile">
            <label class="choice" for="mobile">Tworzenie aplikacji mobilnych</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="cloud" formControlName="cloud">
            <label class="choice" for="cloud">Cloud Computing</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="cybersec" formControlName="cybersec">
            <label class="choice" for="cybersec">Cybersecurity</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="testing" formControlName="testing">
            <label class="choice" for="testing">Testowanie Oprogramowania</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="www" formControlName="www">
            <label class="choice" for="www">Optymalizacja Stron WWW</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="server" formControlName="server">
            <label class="choice" for="server">Administracja Serwerami</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="website" formControlName="website">
            <label class="choice" for="website">Tworzenie Stron Internetowych</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="data" formControlName="data">
            <label class="choice" for="data">Analiza Danych</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="graphic" formControlName="graphic">
            <label class="choice" for="graphic">Projektowanie Graficzne Stron</label>
          </div>
        </div>
      </div>
      <div [formGroup]="services">
        <div>Usługi</div>
        <div class="choice-container">
          <div>
            <input type="checkbox" style="display: none" id="sprzatanie" formControlName="sprzatanie">
            <label class="choice" for="sprzatanie">Usługi sprzątające</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="elektronika" formControlName="elektronika">
            <label class="choice" for="elektronika">Naprawa elektroniki</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="opieka" formControlName="opieka">
            <label class="choice" for="opieka">Opieka dziecięca</label>
          </div>
          <div>
            <input type="checkbox" style="display: none" id="finanse" formControlName="finanse">
            <label class="choice" for="finanse">Doradztwo finansowe</label>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button (click)="reset()" value="Wyczyść" class="choice-clear">Wyczyść</button>
      <button (click)="save()" value="Zastosuj" class="choice-accept">Zastosuj</button>
    </div>
  </div>
</div>
