<div class="container">
    <div class="content-container">
        <div [hidden]="navigationMode !== 'list' && isSmallScreen" class="content">
            <div style="display: flex">
                <div class="search-container">
                    <mat-icon class="search-icon">search</mat-icon>
                    <input type="text" class="search-input" placeholder="Szukaj" />
                </div>
                <div class="filters-button-container">
                    <button mat-stroked-button class="filters-button" (click)="openFilters()">
                        Filtry
                        <mat-icon>filter_list</mat-icon>
                    </button>
                </div>
            </div>
            <div class="list-container">
                <div class="list-item">
                    <div class="list-item-image">
                        <img src="./assets/images/avatars/avatar1.png" alt="avatar" />
                    </div>
                    <div class="list-item-content">
                        <div class="list-item-header">
                            <div class="list-item-name">Mariusz Tracz</div>
                            <div class="list-item-tags">
                                <div class="list-item-tag">Murarz</div>
                                <div class="list-item-tag">Tynkarz</div>
                                <div class="list-item-tag">Akrobata</div>
                            </div>
                        </div>
                        <div class="list-item-info">
                            <div class="list-item-city"><mat-icon>location_on</mat-icon> Warszawa</div>
                            <div class="list-item-distance"><mat-icon>outlined_flag</mat-icon>~5km</div>
                            <div class="list-item-price">$ 5000-150000 PLN</div>
                        </div>
                    </div>
                </div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
                <div class="list-item"></div>
            </div>
        </div>
        <div
            *ngIf="isMapVisited || navigationMode === 'map' || !isSmallScreen"
            [hidden]="navigationMode !== 'map' && isSmallScreen"
            class="content">
            <!--            <app-map-localisation></app-map-localisation>-->
            <app-map-select-location></app-map-select-location>
        </div>
        <div [hidden]="navigationMode !== 'filters'" class="content">
            <div class="filters-container"></div>
        </div>
    </div>
</div>
<div class="nav-buttons-container">
    <mat-button-toggle-group
        class="toggle-group-button"
        name="navigationMode"
        [ngModel]="navigationMode"
        (change)="changeNavigationMode($event)">
        <mat-button-toggle class="toggle-button" value="list">Lista</mat-button-toggle>
        <mat-button-toggle class="toggle-button" value="map">Mapa</mat-button-toggle>
        <mat-button-toggle class="toggle-button" value="filters">Filtry</mat-button-toggle>
    </mat-button-toggle-group>
</div>
