.button {
    height: 44px;
    padding-left: 16px;
    padding-right: 16px;
    background: #7f56d9;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}
